{% extends "login/login_template.twig" %}
{% block content %}
    <form id="magicLink">
        <p>Adja meg az email címét, és küldünk egy linket, amivel bejelentkezhet az alkalmazásba</p>
        <input class="form-control form-control-lg" id="email" autocomplete="email" placeholder="Email" type="email" required style="margin-top: 10px; margin-bottom: 10px;" autofocus>
        <div style="width: 100%; text-align:right;">
            <a href="?signup" class="btn btn-secondary">Fiók létrehozása</a>
            <button class="btn btn-primary" type="submit" value="Submit">Link generálása</button>
        </div>
    </form>
    <script>
        $( document ).ready(function() {
            $("#magicLink").fadeIn();
        });
        $("#magicLink").submit(function(){
            event.preventDefault();
            if ($("#email").val().length <= 0) {
                toastr.warning("Kérjük adja meg az email címét");
            } else {
                $.ajax({
                    url: "../api/login/magicLogin.php",
                    type: "POST",
                    dataType: 'json',
                    data: {"formInput" : $("#email").val(),"redirect": "{{ MAGICLINKURL|escape("js") }}"},
                    success: function(result) {
                        if (result.result) {
                            toastr.success("Email elküldve");
                        } else {
                            toastr.error(result.error.message);
                        }
                    },
                    error: function(){
                        toastr.error("Kérjük frissítse az oldalt és ellenőrizze az internetkapcsolatát");
                    }
                });
            }
            return false;
        });
    </script>
{% endblock %}
