<table class="table projects">
    <thead>
    <tr>
        <th style="width:1px"><input type="checkbox" class="assetAssignmentCheckboxAll" data-instanceid="{{ instanceid }}" /></th>
        <th style="width:5em">Tétel</th>
        <th style="width:35em">Megjegyzés</th>
        <th style="width:25em">Specifikáció</th>
        <th>Státusz/Helyszín</th>
        <th style="width:6em;">Tömeg</th>
        {% if project.projectsTypes_config_finance == 1 %}
            {% if "ASSETS:ASSET_TYPES:EDIT"|instancePermissions %}
                <th style="width:5em;">Ár</th>
                <th style="width:9em;">Kedvezményes ár</th>
            {% endif %}
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% block tableBody %}{% endblock %}
    </tbody>
</table>
<style>
    .categoryFilter {
        background-color: #fafafa;
    }
    .table td {
        vertical-align: top;
    }
</style>
