<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-12" style="padding: 5px;">
      <div class="card card-default">
          <div class="card-body" style="text-align: center;">
            <h2>Változtasd meg a jelszavad</h2>
            <p>Kérlek, add meg az új jelszavad:</p>
            <input type="password" id="forcechangepass1" class="form-control input-lg"
                placeholder="Új jelszó" style="margin-bottom: 5px;" />
            <input type="password" id="forcechangepass2" class="form-control input-lg"
                placeholder="Új jelszó megerősítése" style="margin-bottom: 5px;" />
            <p>Válassz erős jelszót, amely hosszabb mint 8 karakter, és véletlenszerű alfanumerikus karakterekből áll</p>
            <button id="forcechangepassbutton" class="btn btn-default">Mentés</button>
        </div>

          <div class="card-footer">
          </div>
          <script>
            $(document).ready(function () {
                $('#forcechangepassbutton').click(function () {
                    if ($("#forcechangepass1").val() != $("#forcechangepass2").val()) bootbox.alert("Sajnáljuk - A jelszavak nem egyeznek!");
                    else if ($("#forcechangepass1").val().length < 6) bootbox.alert("Sajnáljuk - A jelszavad túl rövid!");
                    else {
                        $.ajax({
                            url: '{{ CONFIG.ROOTURL }}/api/account/forcePasswordChange.php?pass=' + $("#forcechangepass1").val(),
                            success: function (result) {
                                if (result == '1') {
                                    location.reload();
                                } else {
                                    bootbox.alert('Hiba - Nem sikerült újra elküldeni az e-mailt - Kérlek frissítsd az oldalt és próbáld újra!');
                                }
                            }
                        });
                    }
                });
            });
        </script>
      </div>
  </div>
</div>